<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Cart
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="resultCart">
        <ion-item *ngFor="let item of resultCart; index as i"></ion-item>
        <ion-label text-wrap>
            <h3>item[i][0]</h3>
            {{item[i][0]}}
        </ion-label>
    </ion-list>
    <div>Total: </div>
</ion-content>