<ion-header>
    <ion-toolbar>
      <ion-title>cart</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
  
          <ion-list>
            <ion-item *ngFor=" let item of loadedItems">
              <ion-card>
                <ion-card-header>
                  <ion-title>{{ item.title }}</ion-title>
                </ion-card-header>
  
  
                <ion-img margin [src]="item.imageUrl"></ion-img>
                <p margin>
                  Total: R{{ item.price }}
                </p>
                <p margin> {{ item.description }}</p>
              
                <ion-item>
                    <ion-button slot="end" fill=clear (click)="incrementQty()"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
                    <ion-button slot="end" fill=clear (click)="decrementQty()"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>      
                </ion-item>
              
              </ion-card>
            </ion-item>
            
  
          </ion-list>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size-md="6" offset-md="3">
  
          <ion-button margin> CHACKOUT</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>