<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
      <ion-grid>
          <ion-row>
            <ion-col size-md="6" offset-md="3">
              
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                
                  <p>First Name: {{firstName}}</p>
                  <p>Last Name: {{lastName}}</p>
                  <p>Email: {{email}}</p>
                  
                  <ion-button size="medium" expand="block" (click)="backHome()">Back</ion-button>                
              </ion-col>
            </ion-row>
        </ion-grid>
  </ion-content>

<ion-content>
  <ion-avatar>
    <img src="https://cdn0.iconfinder.com/data/icons/pokemon-go-vol-1/135/_Canister_Egg-256.png">
  </ion-avatar>

  <p>First Name: {{authUser.firstName}}</p>
  <p>Last Name: {{authUser.lastName}}</p>
  <p>Email: {{authUser.email}}</p>
  <p>Address: {{authUser.address}}</p>
  <p>Cell Phone: {{authUser.cell_phone}}</p>
  <p>Delivery Instructions: {{authUser.instruction}}</p>

</ion-content>
