<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>



<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>{{authUser.firstName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-card>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>First Name: {{authUser.firstName}}</p>
        <p>Last Name: {{authUser.lastName}}</p>
        <p>Email: {{authUser.email}}</p>
        <p>Shiping address: {{authUser.address}}</p>
        <p>Phone Number : {{authUser.cell_phone}}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-button size="medium" expand="block" (click)="navToEditProfile()">Edit Profile</ion-button>
</ion-app>

