<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            
            <div class="ion-padding">

              <ion-item>
                <ion-label position="stacked">First Name</ion-label>
                <ion-input type="text" [(ngModel)]="newUser.firstName"> </ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label position="stacked">Last Name</ion-label>
                <ion-input type="text" [(ngModel)]="newUser.lastName"> </ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="text" [(ngModel)]="newUser.email"> </ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="text" [(ngModel)]="newUser.password"> </ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label position="stacked">Cell Phone</ion-label>
                <ion-input type="text" [(ngModel)]="newUser.cell_phone"> </ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label position="stacked">Address</ion-label>
                <ion-input type="text" [(ngModel)]="newUser.address"> </ion-input>
              </ion-item>
          
              <ion-item>
                <ion-label position="stacked">Delivery Instructions</ion-label>
                <ion-input type="text" [(ngModel)]="newUser.instruction"> </ion-input>
              </ion-item>
          
              <div align='center'>
                <ion-button fill="outline" size="medium" expand="block"(click)="registerUser()">Create Account</ion-button>
              </div>
              <div align='center'>
                <ion-button fill="outline" size="medium" expand="block" (click)="navToLogin()">Back To Login</ion-button>
              </div>
            </div>              
            </ion-col>
          </ion-row>
      </ion-grid>
      
</ion-content>

  
