<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Product Info
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">

              <!-- <ion-card>

                <ion-card-header>
                  <ion-card-title>{{ product.name }}</ion-card-title>
                </ion-card-header>

                <ion-img src]="loadedProducts[0].imageUrl"></ion-img>
                <p> {{ products.description }}</p>

                <ion-item>
                    <p> {{ product.size }} | {{ loadedProducts.weight }} </p>
                </ion-item>

                <ion-item>
                    <p> {{ products.price | currency}} </p>
                </ion-item>

                <ion-button slot="end" padding fill="outline" float-right href='/product-info'>Add to cart</ion-button>
              
              </ion-card> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>